name: mvn test with JDK 25
on:
  push:
    paths:
      - '**'
jobs:
  os_matrix:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout main repo
        uses: actions/checkout@v4

      - name: set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: checkout tensor
        uses: actions/checkout@v4
        with:
          repository: datahaki/tensor
          path: tensor
      - name: build and install tensor
        run: mvn -B --no-transfer-progress install -DskipTests
        working-directory: ./tensor

      - name: checkout bridge
        uses: actions/checkout@v4
        with:
          repository: datahaki/bridge
          path: bridge
      - name: build and install bridge
        run: mvn -B --no-transfer-progress install -DskipTests
        working-directory: ./bridge

      - name: checkout midkit
        uses: actions/checkout@v4
        with:
          repository: datahaki/midkit
          path: midkit
      - name: build and install midkit
        run: mvn -B --no-transfer-progress install -DskipTests
        working-directory: ./midkit

      - name: mvn test
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            xvfb-run --auto-servernum mvn -B test
          else
            mvn -B test
          fi
